a {
    font-weight: bold;
}

#table-of-contents {
    display: none;
}

/* Adds hover links to headings with anchors */
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
    position: relative;
}

h1:hover a .icon.icon-link:before,
h2:hover a .icon.icon-link:before,
h3:hover a .icon.icon-link:before,
h4:hover a .icon.icon-link:before,
h5:hover a .icon.icon-link:before,
h6:hover a .icon.icon-link:before {
    visibility: visible;
}

a .icon.icon-link:before {
    visibility: hidden;
    color: #d9230f;
    content: "#";
    position: absolute;
    left: -1.35rem;
    font-weight: 200;
    padding-right: 0.5rem;
}
